* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    /* height: 150px; */
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Change to center to vertically align content */
    flex: 1;
}
#profile-img {
    height: 100%; /* Ensure the section takes up the full height of the header */
    display: flex;
    align-items: center; /* Vertically center the image */
}
#profile-img img {
    height: 150px;
    max-width: 100%;
    object-fit: contain; /* Ensures the image fits within the container */
    display: flex;
}

header, nav {
    background-color: lightslategray;
}

header h1 {
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
}

header #profile-img {
    display: flex;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust spacing between nav items */
    height: 100%; /* Ensure the nav section takes up the full height */
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

.nav-list a:hover {
    background-color: darkslategray;
}
main {
    display: flex;
    flex-wrap: wrap;
}
main .work-me-sect {
    padding: 10px;
}
aside {
    background-color: bisque;
    flex: 25%;
    border-right: 10px;
    border-right-style: solid;
    border-right-color: aqua;
    text-align: right;
}
.aside-about h2 {
    padding-right: 10px;
}
.column {
    flex: 75%;
    background-color: blanchedalmond;
}

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        align-content: center;
    } 
    #profile-img img {
        margin: auto;
    }
    main {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    aside {
        text-align: center;
        border: none;
    }
}